@model IEnumerable<JourneyWebApp.Data.TravelersTrips>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string accordion;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="trips" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trip.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            accordion = $"#accordion{item.TripId}";
            <tr data-toggle="collapse" data-target="@accordion" class="clickable">
                <td>
                    @Html.ActionLink(item.Trip.TripName, "Edit", new { id = item.TripId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trip.EndDate)
                </td>
                <td>
                    <a data-toggle="collapse" data-target="@accordion" class="clickable">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TripId })
                </td>
            </tr>

            <tr id="@accordion.Substring(1, accordion.Length - 1)" class="collapse">
                <td colspan="4">
                    <div>
                        <table class="table table-condensed table-hover">
                            <tbody>

                                @foreach (var tr in item.Trip.TripCities)
                                {
                                    <tr>
                                        <td width="$(trips).children('tr:first').children('tr:first').width()">
                                            @Html.ActionLink(tr.City.CityName, "Edit", "TripCities", new { id = tr.Id })
                                        </td>
                                        <td>
                                            @tr.StartDate.ToString("dd-MMM-yy") 
                                        </td>
                                        <td>
                                            @tr.EndDate.ToString("dd-MMM-yy")
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", "TripCities", new { id = tr.Id }) | 
                                            @Html.ActionLink("Delete", "Delete", "TripCities", new { id = tr.Id })
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td colspan="4">
                                        @Html.ActionLink("Add City", "Create", "TripCities",  new { id = item.TripId })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
