@model JourneyWebApp.Data.Traveler;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome To Journey @TempData.Peek("User")</h1>

<div class="row">
    <div class="col-md-3">
        <h2>Traveler Cities</h2>
        <ul>
            @foreach (var c in @Model.TravelersCities.Where(tc => tc.IsCurrent == true))
            {
                <li>@c.City.CityName</li>
            }
                <li><a asp-area="" asp-controller="TravelerCities" asp-action="Index">Manage</a></li>
            </ul>
    </div>
    <div class="col-md-3">
        <h2>Past trips</h2>
        <ul>
            @foreach(var trip in Model.TravelersTrips)
            {
            <li>@trip.Trip.TripName <a asp-area="" asp-controller="Home" asp-action="TripDetails" asp-route-id="@trip.Trip.Id">details</a></li>
            }

            <li><a asp-area="" asp-controller="Home" asp-action="AddTrip">Add</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Relationships</h2>
        <ul>
            @foreach (var r in Model.TravelerRelationshipsTravelerId1Navigation)
            {
                <li>@r.TravelerId2Navigation.FirstName <a asp-area="" asp-controller="Home" asp-action="TripDetails" asp-route-id=""e>details</a></li>
            }
            <li><a asp-area="" asp-controller="Home" asp-action="Search">Search</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Albums</h2>
        <ul>
            <li>Get from DB</li>
            <li><a asp-area="" asp-controller="Home" asp-action="CreateAlbum">Create</a></li>
        </ul>
    </div>
</div>
