@model JourneyWebApp.Data.TravelersCities

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>TravelersCities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TravelerId" value="@ViewBag.TravelerId" />
            <input type="hidden" asp-for="CityId" value="@ViewBag.CityId" />
            <div class="form-group">
                <label asp-for="TravelerAddress" class="control-label"></label>
                <input asp-for="TravelerAddress" class="form-control" />
                <span asp-validation-for="TravelerAddress" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_City", @Model.City)
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsCurrent" class="control-label"></label>
                @Html.EditorFor(model => model.IsCurrent)
                <span asp-validation-for="IsCurrent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasLived" class="control-label"></label>
                @Html.EditorFor(model => model.HasLived)
                <span asp-validation-for="HasLived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasVisited" class="control-label"></label>
                @Html.EditorFor(model => model.HasVisited)
                <span asp-validation-for="HasVisited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WantVisit" class="control-label"></label>
                @Html.EditorFor(x => x.WantVisit)
                <span asp-validation-for="WantVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
